.form-button {
    width: 100%;
    padding: 12px;
    background-color: #992e49;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.form-button-contact {
  width: fit-content !important;
  display: block;
  margin: 20px auto;
  padding: 12px 50px;
}

.form-button:hover {
    background-color: #7b243a;
}

